{
 "log":{
   "loglevel":"warning"
 },
 "inbounds":[
  {
   "port":443,
   "protocol":"vless",
   "settings":{
    "clients":[
     {
      "id":"__UUID__",
      "flow":"xtls-rprx-vision"
     }
    ],
    "decryption":"none"
   },
   "streamSettings":{
    "network":"xhttp",
    "security":"reality",
    "realitySettings":{
     "show":false,
     "dest":"__SERVER_NAME__:443",
     "serverNames":[
      "__SERVER_NAME__"
     ],
     "privateKey":"__PRIVATE_KEY__",
     "shortIds":[
      "__SHORT_ID__"
     ]
    }
   }
  }
 ],
 "outbounds":[
  {
   "protocol":"freedom"
  }
 ]
}
